nav{
    background-color: #A4C8A1;
    padding: 1rem;
}

.navbar-brand img {
    margin-right: 10px; /* Add some space between the image and the brand name */
}

.nav-link {
    font-weight: bold; /* Make links bold for better visibility */
}

.navbar-nav .nav-link {
    color: white; /* Set the text color for links */
}

.navbar-nav .nav-item {
    flex-grow: 1;
}

.img-fluid{
    max-height: 150px;
}

.custom-btn {
    background-color: #027246;
    color: white; /* Change text color to white */
    margin-top: 20px; /* Add some margin to separate from the table */
    display: block; /* Ensure it takes full width if needed */
    width: 100%; /* Full width to align with the table */
    margin-left: -600px; /* Change this value to move the button left or right */
    transition: background-color 0.3s ease, opacity 0.3s ease;
}

.custom-btn:hover {
    background-color: #025e3a;
    color: white; /* Change text color to white */
    opacity: 0.8;
}

.btn{
    background-color: #027246;
    text-decoration: white;
}

.btn:hover {
    background-color: #027246;
    opacity: 0.8;
    transition: background-color 0.3s ease;
}

/* Custom CSS to ensure table is aligned to the left */
/* Custom CSS to ensure table is aligned properly */
.table {
    margin: 0; /* Remove any margin */
}

.table-responsive {
    padding: 0 15px; /* Add padding to the sides */
}

.table-centered {
    margin-left: auto;
    margin-right: auto;
}

/* Add this rule to adjust the position of the table */
.shift-up {
    margin-top: -70px; /* Adjust this value as needed */
}
